@font-face {
	font-family: "Flaticon";
	src: url("flaticon/flaticon.eot");
	src: url("flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon/flaticon.woff") format("woff"),
	url("flaticon/flaticon.ttf") format("truetype"),
	url("flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}

.flaticon-add154:before { content: "\e000"; }  .icon-forward-outline:before {content: "\e000"; font-family: "Flaticon"; font-size: 29px; line-height: 16px!important;position: relative; top: 5px;}
.flaticon-arrow209:before {	content: "\e001"; }  .icon-angle-right:before, .icon-right-open-big:before, #dt-menu .toggle-sub:after { content: "\e001"; font-family: "Flaticon"; font-size: 22px;}
@media (min-width: 990px) { #dt-menu ul.sub-nav li.menu-item-has-children > a:after { content: "\e001"; font-family: "Flaticon"; font-size: 22px;} }
.flaticon-arrow225:before { content: "\e002"; }  .icon-angle-left:before, .icon-left-open-big:before { content: "\e002"; font-family: "Flaticon"; font-size: 22px;} 
.flaticon-chat44:before { content: "\e003"; }  .icon-comment-empty:before { content: "\e003"; font-family: "Flaticon"; font-size: 17px;} 
.flaticon-check-mark4:before { content: "\e004"; }
.flaticon-circle111:before { content: "\e005"; }  .icon-dot:before { content: "\e005"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-circular191:before { content: "\e006"; }  .icon-clock:before { content: "\e006"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-cross80:before { content: "\e007"; }  .icon-cancel:before, .icon-cancel-1:before { content: "\e007"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-down65:before { content: "\e008"; }  .icon-down:before, .icon-down-open-big:before { content: "\e008"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-email68:before { content: "\e009"; }  .icon-mail-7:before,.icon-email:before { content: "\e009"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-file63:before { content: "\e00a"; }  .icon-doc:before { content: "\e00a"; font-family: "Flaticon"; font-size: 25px;}
.flaticon-infinite6:before { content: "\e00b"; }  .icon-link:before, .icon-link-1:before { content: "\e00b"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-internet28:before { content: "\e00c"; }  .icon-globe-6:before { content: "\e00c"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-label23:before { content: "\e00d"; }  .icon-tag:before { content: "\e00d"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-listing2:before {	content: "\e00e";}  .icon-th-list:before { content: "\e00e"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-menu42:before { content: "\e00f"; }  .icon-menu:before { content: "\e00f"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-minus104:before {	content: "\e010"; }  .icon-minus-1:before { content: "\e010"; font-family: "Flaticon"; font-size: 15px;}
.flaticon-more14:before { content: "\e011"; }  .icon-zoom-in:before { content: "\e011"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-multimedia17:before { content: "\e012"; }  .icon-right-dir:before { content: "\e012"; font-family: "Flaticon"; font-size: 11px; -webkit-font-smoothing: subpixel-antialiased!important;}
.flaticon-music214:before {	content: "\e013"; }  .icon-note-beamed:before { content: "\e011"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-plus79:before { content: "\e014"; }  .icon-plus-1:before { content: "\e014"; font-family: "Flaticon"; font-size: 15px;}
.flaticon-right176:before {	content: "\e015"; }  .icon-quote-right-1:before { content: "\e015"; font-family: "Flaticon"; font-size: 22px;}
.flaticon-search67:before {	content: "\e016"; }
.flaticon-search75:before {	content: "\e017"; }  .icon-search-6:before { content: "\e017"; font-family: "Flaticon"; font-size: 13px;-webkit-font-smoothing:initial!important;}
.flaticon-shopping41:before { content: "\e018"; }  .icon-cart:before { content: "\e018"; font-family: "Flaticon"; font-size: 18px;font-weight: 100;}
.flaticon-user8:before { content: "\e019"; }  .icon-user-7:before { content: "\e019"; font-family: "Flaticon"; font-size: 22px;}
